<style>
  .alert {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    width: 100%;

    color: black;
    background-color: chartreuse;
    border-color: black;
  }

  @media screen and (min-width: 576px) {
    .alert {
      width: fit-content;
      max-width: 480px;
    }
  }
</style>

<div class="alert fade" role="alert" id="alertNewOrder">새로운 윤활 요청이 들어왔습니다.</div>

<% 
if (locals.userInfo) {
  if (locals.userInfo.isAdmin) { 
%>

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();  

  socket.on('newOrder', (payload) => {
    document.querySelector('#alertNewOrder').classList.add('show');
    setTimeout(() => {
      document.querySelector('#alertNewOrder').classList.remove('show');
    }, 5000);
  })
</script>
<% 
  } 
} 
%>