<div class="container">
  <div class="d-grid gap-2 mb-3">
    <button class="btn btn-primary" onclick="location.href='/orders'" type="button">키보드 윤활 신청하러 가기</button>
  </div>

  <div >
    <div class="d-grid gap-2">
      <button class="btn btn-outline-dark" type="button">베스트 리뷰</button>
    </div>

    <ul style="padding-left: 0;">

      <div class="card border-secondary border-2 mb-1" style="cursor: pointer;">
        <div class="d-flex">
          <div class="p-2 flex-shrink-1" >
            <img class="img-fluid rounded-start preview_image" src="https://placeimg.com/100/100/any">
          </div>
          <div class="p-2 w-100">
            <div class="card-body">
              <h5 class="card-title">제목</h5>
              <p class="card-text">내용</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card border-secondary border-2 mb-1" style="cursor: pointer;">
        <div class="d-flex">
          <div class="p-2 flex-shrink-1" >
            <img class="img-fluid rounded-start preview_image" src="https://placeimg.com/100/100/any">
          </div>
          <div class="p-2 w-100">
            <div class="card-body">
              <h5 class="card-title">제목</h5>
              <p class="card-text">내용</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card border-secondary border-2 mb-1" style="cursor: pointer;">
        <div class="d-flex">
          <div class="p-2 flex-shrink-1" >
            <img class="img-fluid rounded-start preview_image" src="https://placeimg.com/100/100/any">
          </div>
          <div class="p-2 w-100">
            <div class="card-body">
              <h5 class="card-title">제목</h5>
              <p class="card-text">내용</p>
            </div>
          </div>
        </div>
      </div>

    </ul>
  </div>
  
  <%- include('./pagination') %>

</div>