<div class="container">
  <div class="d-grid gap-2 mb-3">
    <% if (locals.userInfo) { %>
    <div class="d-grid gap-2 mb-3">
      <% if (!locals.userInfo?.admin) { %>
      <button class="btn btn-primary" onclick="location.href='/orders/request'" type="button">키보드 윤활 신청하러 가기</button>
      <% } else { %>
      <button class="btn btn-primary" onclick="location.href='/orders/list'" type="button">키보드 윤활 신청 목록 보기</button>
      <% } %>
    </div>
    <% } %>
  </div>

  <%- include('../reviews/best_review') %>
</div>