<div class="header" style="display: flex; height: 5rem">
    <h1 style="flex: 1">키보드를 구해조</h1>
    <ul class="nav justify-content-end" style="flex: 1">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MYPAGE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">REVIEW</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">ETC</a>
      </li>
    </ul>
  </div>