<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <title>손님 윤활 신청 목록 페이지</title>
    <link rel="icon" href="data:," />
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
  </head>
  <style>
    @font-face {
      font-family: 'bitbit';
      src: url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),
        url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2');
    }

    * {
      font-family: 'bitbit';
    }
  </style>
  <body>
    <%- include('../components/nav') %>
    <table>
      <thead>
        <tr>
          <td>종류</td>
          <td>요청사항</td>
          <td>픽업날짜</td>
          <td>상태</td>
          <td>이미지</td>
        </tr>
      </thead>
      <tbody id="orderlists"></tbody>
    </table>
    <script type="text/javascript">
      const data = <%- JSON.stringify(data) %>;

      for (let i = 0; i < data.length; i++) {
        let date = new Date(data[i].pickup).toLocaleDateString();
        let status_str = data[i].status;
        if (status_str === 0) {
          status_str = "대기 중";
        } else if (status_str === 1) {
          status_str = "수거 중";
        } else if (status_str === 2) {
          status_str = "수거 완료";
        } else if (status_str === 3) {
          status_str = "배송 중";
        } else if (status_str === 4) {
          status_str = "배송 완료";
        }

        let temp_html = `<tr>
                            <td>${data[i].kinds}</td>
                            <td>${data[i].details}</td>
                            <td>${date}</td>
                            <td>${status_str}</td>
                            <td><img class="img-thumbnail" src="/uploads/orders/${data[i].imageUrl}" style="width: 100px;" /></td>
                        </tr>`;
        $('#orderlists').append(temp_html);
      }
    </script>
  </body>
</html>
