<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>윤활 신청 페이지</title>
  <link rel="icon" href="data:,">
</head>
<style>
    @font-face{
      font-family:'bitbit';
      src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
    }
  
    * {
      font-family:'bitbit';
    }
  </style>
  
  <body>
      <div class="header" style="display: flex; height: 5rem;">
          <h1 style="flex: 1;"> 키보드를 구해조 </h1>
          <ul class="nav justify-content-end" style="flex: 1;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">MYPAGE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">REVIEW</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">ETC</a>
            </li>
          </ul>
      </div>

      <div class="main" style="width: 50%; height: 30rem; background-color: #eeeeee; border: solid 1px; margin-left: 20rem;">
            <h2 style="margin: 1rem auto 3rem 5rem; "> 윤활 서비스 신청 </h2>

            <div class="input-group mb-3">
              <span class="input-group-text" id="kinds">키보드 종류</span>
              <input type="text" class="form-control" id="kinds" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="imageURL">
                <label class="input-group-text" for="inputGroupFile02">Upload</label>
            </div>

            <div class="pickup" style="display: flex;">
                <div style="flex: 1;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;픽업시간</div>
                <input type="datetime-local" style="flex: 6;" name="starttime">
            </div>
            
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label" style="margin-left: 1rem">요청사항</label>
                <div class="col-sm-10">
                  <input type="details" class="form-control" id="datails">
                </div>
            </div>

            <button class="btn btn-primary" type="submit" style="margin: 3rem 0px 2rem 8rem; padding-left: 10rem; padding-right: 10rem;">신청 완료</button>
      </div>
</body>
</html>