<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>키보드를 구해조!</title>
    <link rel="icon" href="data:," />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>

  <nav class="navbar bg-body-tertiary mb-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">키보드를 구해조!</a>

      <% if (locals.userInfo) { %>
      <div class="d-flex">
        <a class="navbar-brand"><%= userInfo.name %></a>
        <a class="navbar-brand">포인트: <%= userInfo.point %></a>
        <a class="navbar-brand"
          ><span class="badge rounded-pill text-bg-primary"><%= userInfo.admin ? '사장' : '손님' %></span></a
        >
      </div>

      <% } %>

      <div class="btn-group d-flex">
        <% if (!locals.userInfo) { %>
        <button onclick="location.href='/users/login'" type="button" class="btn btn-outline-dark">로그인</button>
        <button onclick="location.href='/users/register'" type="button" class="btn btn-outline-dark">회원가입</button>
        <% } else {%> <% if (locals.userInfo.admin) { %>
        <button onclick="location.href='/users/admin'" type="button" class="btn btn-outline-dark">마이페이지</button>
        <% } else {%>
        <button onclick="location.href='/users/mypage_user'" type="button" class="btn btn-outline-dark">마이페이지</button>
        <% } %>
        <button onclick="logout()" type="button" class="btn btn-outline-dark">로그아웃</button>
        <% } %>
        <button onclick="location.href='/reviews'" type="button" class="btn btn-outline-dark">리뷰 임시</button>
      </div>
    </div>
  </nav>

  
  <% if (!locals.userInfo) { %>
  <script>
    alert('로그인이 필요한 기능입니다.');
    location.href = '/';
  </script>
  <% } else if (!locals.userInfo.admin) {%>
  <script>
    alert('접근 권한이 없습니다.');
    location.href = '/';
  </script>
  <% } %>

  <div class="container">
    <!-- 현재 요청 상태 -->
    <div id="orders_status_zeroToThree">
      <div class="d-grid gap-2">
        <button class="btn btn-dark" type="button">진행중인 요청</button>
      </div>
    </div>
    <!-- 현재 요청 끝 -->

    <!-- 신청 히스토리 시작 -->
    <div>
      <div class="d-grid gap-2">
        <button class="btn btn-dark" type="button">신청 히스토리</button>
      </div>

      <!-- 신청 히스토리 -->
      <div id="orders_status_end"></div>
      <!-- 신청 히스토리 끝 -->

      <!-- pagination -->
      <%- include('../components/pagination') %>
      <!-- pagination 끝 -->
    </div>
    <!-- 신청 히스토리 끝 -->
  </div>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>
  <script src="/js/components/nav.js" defer></script>
  <script src="/js/users/admin.js" defer></script>
</html>
