<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>사장 마이페이지</title>
  <link rel="icon" href="data:,">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

  <%- include('../components/nav') %>

  

<ul style="padding-left: 0;">

  <div class="card border-secondary border-2 mb-1" style="cursor: pointer;">
    <div class="d-flex">
      <div class="p-2 flex-shrink-1" >
        <img class="img-fluid rounded-start preview_image" src="https://placeimg.com/100/100/any">
      </div>
      <div class="p-2 w-100">
        <div class="card-body">
          <h5 class="card-title">나의 키보드</h5>
          <p class="card-text">수거완료</p>
        </div>
      </div>
    </div>
  </div>

        <div >
          <div class="d-grid gap-2">
            <button class="btn btn-outline-dark" type="button">신청 히스토리</button>
          </div>
      
          <ul style="padding-left: 0;">
      
            <div class="card border-secondary border-2 mb-1" style="cursor: pointer;">
              <div class="d-flex">
                <div class="p-2 flex-shrink-1" >
                  <img class="img-fluid rounded-start preview_image" src="https://placeimg.com/100/100/any">
                </div>
                <div class="p-2 w-100">
                  <div class="card-body">
                    <h5 class="card-title">나의키보드</h5>
                    <p class="card-text">배송완료</p>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="card border-secondary border-2 mb-1" style="cursor: pointer;">
              <div class="d-flex">
                <div class="p-2 flex-shrink-1" >
                  <img class="img-fluid rounded-start preview_image" src="https://placeimg.com/100/100/any">
                </div>
                <div class="p-2 w-100">
                  <div class="card-body">
                    <h5 class="card-title">나의키보드</h5>
                    <p class="card-text">배송완료</p>
                  </div>
                </div>
              </div>
            </div>
      
            <div class="card border-secondary border-2 mb-1" style="cursor: pointer;">
              <div class="d-flex">
                <div class="p-2 flex-shrink-1" >
                  <img class="img-fluid rounded-start preview_image" src="https://placeimg.com/100/100/any">
                </div>
                <div class="p-2 w-100">
                  <div class="card-body">
                    <h5 class="card-title">나의키보드</h5>
                    <p class="card-text">배송완료</p>
                  </div>
                </div>
              </div>
            </div>
      
          </ul>
        </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>