<script src="/js/users/mypage.js" defer></script>

<% if (!locals.userInfo) { %>
<script>
  alert('로그인이 필요한 기능입니다.');
  location.href = '/'
</script>
<% } else { %>
<script>
  const userInfo = <%- JSON.stringify(locals.userInfo) %> ;
</script>
<% } %>

<div class="container">
  <!-- 불러오기 로딩중 -->
  <div class="loading">
    <div class="d-flex align-items-center mb-3 text-primary">
      <strong>Loading...</strong>
      <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
    </div>
  </div>
  <!-- 불러오기 로딩중 끝 -->

  <!-- 현재 요청 상태 -->
  <div id="orders_status_doing">
    <div class="d-grid gap-2">
      <button class="btn btn-dark" type="button">진행중인 요청</button>
    </div>
    <div class="card border-secondary border-2 mb-1">
      <div class="row">
        <div class="ps-4 pt-2 col-2">
          <img id="order_img" class="img-fluid rounded-start" src="https://placeimg.com/100/100/any" style="width: 100px;">
        </div>
        <div class="p-2 col-8">
          <div class="card-body">
            <h5 id="order_kinds" class="card-title"></h5>
            <p id="order_details" class="card-text"></p>
          </div>
        </div>
        <div class="p-1 col-2">
          <button id="order_status" class="btn btn-outline-success mb-2" style="width: 100px;" disabled></button>
          <% if (!locals.userInfo?.isAdmin) { %>
          <button id="order_cancel" class="btn btn-outline-danger" style="width: 100px; display: none;">취소하기</button>
          <% } else { %>
          <button id="order_update" class="btn btn-outline-primary" style="width: 100px; display: none;">상태진행</button>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <!-- 현재 요청 끝 -->

  <!-- 신청 히스토리 시작 -->
  <div>
    <div class="d-grid gap-2">
      <% if (!locals.userInfo?.isAdmin) { %>
      <button class="btn btn-dark" type="button">신청 히스토리</button>
      <% } else { %>
      <button class="btn btn-dark" type="button">윤활 히스토리</button>
      <% } %>
    </div>

    <!-- 신청 히스토리 -->
    <div id="orders_status_done">
      <div class="card border-secondary border-2 mb-1">
        <div class="row">
          <div class="ps-4 pt-2 col-2">
          </div>
          <div class="p-2 col-8">
            <div class="card-body">
              <% if (!locals.userInfo?.isAdmin) { %>
              <h5 id="order_kinds" class="card-title">신청한 이력이 없습니다.</h5>
              <% } else { %>
              <h5 id="order_kinds" class="card-title">완료한 이력이 없습니다.</h5>
              <% } %>
              <p id="order_details" class="card-text"></p>
            </div>
          </div>
          <div class="p-1 col-2">
            <% if (!locals.userInfo?.isAdmin) { %>
            <button onclick="location.href='/orders/request'" id="" class="btn btn-outline-primary" style="width: 100px;">윤활신청<br>하러가기</button>
            <% } else { %>
            <button onclick="location.href='/orders/list'" id="" class="btn btn-outline-primary" style="width: 100px;">윤활접수<br>하러가기</button>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <!-- 신청 히스토리 끝 -->

    <!-- pagination -->
    <%- include('../components/pagination') %>
    <!-- pagination 끝 -->

  </div>
  <!-- 신청 히스토리 끝 -->
</div>